<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Citações</title>
</head>
<body>
    <h2>Adicionar Citação<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Citação" name="citacao">
        <input type="text" placeholder="Ano" name="ano">
        <input type="text" placeholder="Autor" name="autor">
        <button type="submit">Adicionar</button>
    </form> 

</body>
</html>